<section class="hero section">
<div class="container hero__container">
<h2 class="hero__title">Introducing Mobileapp</h2>
<h3 class="hero__suptitle">Download our mobile app today!</h3>
<ul class="hero__list">
    <li class="hero__item">Real-time updates and notifications for timely information</li>
    <li class="hero__item">Robust analytics and reporting for data-driven insights</li>
    <li class="hero__item">Offline capabilities for uninterrupted use</li>
</ul>
<button class="btn" type="button">Send</button>
<img class="hero__bg" src="../../img/hero-bg.png" alt="">
</div>
</section>