<section class="team section">
    <div class="container">
<h2 class="section-title team__title">OUR TEAM</h2>
<p class="section-suptitle team__text">Our team is made up of talented and passionate individuals who are committed to providing the best experience for our users. Each member brings a unique set of skills and expertise to the table, allowing us to work collaboratively and effectively to achieve our goals.</p>
<ul class="team__list">
    <li class="team__item">
        <img class="team__img" src="../../img/david-patel.jpg" alt="David Patel" width="264" height="260">
         <div class="info-wrap"><h3 class="card-title">David Patel</h3>
        <p class="card-text">Managing Direcor</p></div>

    </li>
    <li class="team__item">
        <img class="team__img" src="../../img/rachel-kim.jpg" alt="Rachel Kim" width="264" height="260">
         <div class="info-wrap">        <h3 class="card-title">Rachel Kim</h3>
        <p class="card-text">Lead Designer</p></div>

    </li>
    <li class="team__item">
        <img class="team__img" src="../../img/samantha-chen.jpg" alt="Samantha Chen" width="264" height="260">
         <div class="info-wrap"><h3 class="card-title">Samantha Chen</h3>
        <p class="card-text">Lead Developer</p></div>

    </li>
    <li class="team__item">
        <img class="team__img" src="../../img/andrew-nguyen.jpg" alt="Andrew Nguyen" width="264" height="260">
        <div class="info-wrap"><h3 class="card-title">Andrew Nguyen</h3>
        <p class="card-text">Sr. UI Designer</p></div>

    </li>

</ul>

    </div>


</section>