<section class="testimonials section">
    <div class="container">
<h2 class="section-title testimonials__title">WHAT OUR COSTUMER’S SAY</h2>
<img class="user-img" src="../../img/user.jpg" alt="user">
<h3 class="user-name">Jon Doe</h3>
<p class="user-company">Company Inc.</p>
<p class="section-suptitle user-opinion">I've been using this app for a few weeks now and I have to say, I'm really impressed. It's so easy to use and the personalized recommendations are spot-on. Plus, the transactions are secure and the updates are always timely. I would definitely recommend this app to anyone looking for a better mobile experience</p>
<svg width="76" height="6" viewBox="0 0 76 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="3" cy="3" r="3" fill="#06071B"/>
<circle cx="31" cy="3" r="3" fill="#939EAC"/>
<circle cx="59" cy="3" r="3" fill="#939EAC"/>
<circle cx="17" cy="3" r="3" fill="#939EAC"/>
<circle cx="45" cy="3" r="3" fill="#939EAC"/>
<circle cx="73" cy="3" r="3" fill="#939EAC"/>
</svg>
</div>
</section>