<section class="video section">
    <div class="container">
<h2 class="dection-title video__title">WATCH THE VIDEO</h2>
<p class="video__text">Watch the video below to see our mobile app in action. With a user-friendly interface, personalized recommendations, secure transactions, and real-time updates, our app is available for download on both Apple and Android devices and is designed to make your life easier.</p>
<ul class="video__list">
    <li class="video__item">
        <svg  class="svg-icon">
        <use href=""></use>
    </svg>></li>
    <li class="video__item"><svg class="svg-icon">
        <use></use>
    </svg></li>
</ul>
</div>
</section>