<header class="header">
  <div class="container header__container">
  <nav class="nav">
    <a href="#" class="logo">Mobileapp</a>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#" class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">FEATURES</a>
      </li>
            <li class="nav-item">
        <a href="#" class="nav-link">TEAM</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">TESTIMONIALS</a>
      </li>
            <li class="nav-item">
        <a href="#" class="nav-link">CONTACT</a>
      </li>
    </ul>
  </nav>
              <button class="mobile-menu__btn--burger" data-menu-open type="button">
          <svg class="mobile-menu__icon--burger" width="24" height="14">
            <use href="../img/sprite.svg#burger"></use>
          </svg>
        </button>

    </div>
</header>
