<div class="mobile-menu" data-menu>
  <button type="button" class="mobile-menu__btn--closed" data-menu-close>
    <svg class="mobile-menu__icon--closed" width="32" height="32">
      <use href="../img/sprite.svg#close"></use>
    </svg>
  </button>
  <nav class="mobile-nav">
    <a href="#" class="logo">Mobileapp</a>
    <ul class="mobile-nav__list">
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">HOME</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">FEATURES</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">TEAM</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">TESTIMONIALS</a>
      </li>
      <li class="mobile-nav__item">
        <a href="#" class="mobile-nav__link">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>
