.contact {
   background-color: var(--bg-color-dark);
}

.contact__wrap {
    display: flex;
    justify-content: space-between;
}

.contact__title {
    text-align: center;
    margin-bottom: 80px;
  }

.contact__suptitle {
    line-height: 1.2;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 20px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        max-width: 500px;
}

.social-list {
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover, 
.social-link:focus {
    background: #06071B;
        border-image: var(--gradient);
        border: 1px solid;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
   stop-color:rgba(0, 197, 235, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    stop-color:rgba(181, 68, 254, 1);
}

.address-item {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
       }

.address-item:not(:last-child){
margin-bottom: 12px;
}

.form{
    max-width: 608px;
}
.form-input {
    width: 288px;
    padding: 11px 8px 12px;

    border-radius: 5px;
    /* outline: none; */
    border: none;
    margin-bottom: 20px;
}

.input-name{
    margin-right: 23px;
}

.form-input::placeholder {
    font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #939EAC;
}

.textarea {
width: 100%;
    height: 162px;
}

.form-btn {
display: block;
margin-right: auto;
}

