.features {
position: relative;
    background-color: var(--bg-color-light);
        color: var(--secondary-text-color);
}


/* .features-container {
background-image: url(../img/features-bg.png);
background-repeat: no-repeat;
background-position: left 428px top 208px;

} */

.features__bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}

.features__title {
     margin-bottom: 80px;
text-align: center;
}

.features__suptitle {
margin-bottom: 117px;
max-width: 855px;
text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.features__list-wrap {
display: flex;
gap: 454px;
justify-content: center;
}

.features__item + .features__item {
    margin-top: 54px;
}

.features__item {
    position: relative;
    max-width: 223px;
}

.features__item::before {
    position: absolute;
    left: -40px;
    top: -5px;
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../img/features-list-icon.svg);
    background-repeat: no-repeat;
}


.list-title{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 13px;
}

.list-text {
    font-weight: 500;
  }
