.footer {
        padding-top: 22px;
            padding-bottom: 21px;
            border-top: 1px solid #FFFFFF;
    background-color: var(--bg-color-dark);
}

.copy {
font-weight: 500;
    /* font-size: 14px;
    line-height: 17px; */

}