/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./mobile-menu.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./features.css');
@import url('./video.css');
@import url('./team.css');
@import url('./testimonials.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./modal.css');


:root {
  --primary-text-color: #fff;
  --secondary-text-color: #000000;
  --bg-color-dark: #06071B;
  --bg-color-light: #E5E5E5;
  --color-modal-overlay: rgba(46, 47, 66, 0.8);
  --timing-function: 250ms linear;
  --gradient: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  --gradient-hover: linear-gradient (rgba(0, 197, 235, 1), rgba(181, 68, 254, 1));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: var(--primary-text-color);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn {
  padding: 11px 12px 12px 12px;
  min-width: 200px;
  background: var(--gradient);
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  border: 1px solid transparent;
}

.btn:hover,
.btn:focus {
  background: #06071B;
  border: 1px solid;
  border-image: var(--gradient-hover);
}

.section-title {
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
}

.section-suptitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}