.video {
    background-color: var(--bg-color-dark);
    color: var(--primary-text-color);
}
    /* background-image: linear-gradient(0deg, rgba(0, 197, 235, 0.5), rgba(0, 197, 235, 0.5)), #D9D9D9;
filter: blur(51.5px);
transform: rotate(128.76deg);
*/

.video-container {
    display: flex;
    gap: 161px;
}

.video__title {
    margin-bottom: 20px;
}

.video__text {
    max-width: 479px;
   margin-bottom: 40px;
   line-height: 1.19;
   font-weight: 500;
   font-size: 16px;
}

.video__list {
display: inline-flex;
gap: 20px;
}
